/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
}

/* Nav Bar*/

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 105px;
    padding-top: 15px;
}

.nav-list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  font-family: the-mix-semi-bold-plain-font;
}

.nav-list > li {
  margin-right: 20px;
  cursor: pointer;
}

/* hero */

.hero {
  background: url("./img/slider/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
}

.hero-heading {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: the-mix-black-font;
}


.hero-content {
  padding: 18vh 0 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.hero-slide-points > li{
  list-style: none;
  float: right;
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}

.hero-arrow-img{
  height: 8vh;
}

/* start foundations */

.foundation-container{
  background-color: #f5f5f5;
}

.five-foundations-container{
  display: flex;
  justify-content: space-evenly;
}

.single-foundation{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 0 1%;
  padding: 2% 3% 7% 3%;
  border-radius: 5px;
  margin-bottom: 5%;
}

.single-foundation1:hover{
  background-color: rgb(225, 227, 255);
}
 
.single-foundation2:hover{
  background-color: rgb(221, 222, 241);
}

.single-foundation3:hover{
  background-color: rgb(211, 211, 255);
}

.single-foundation4:hover{
  background-color: rgb(238, 238, 238);
}

.single-foundation5:hover{
  background-color: rgb(255, 223, 234);
}

.imgf{
  display: flex;
  align-content: center;
  width: 80%;
  height: 20%;
}

/* start vision*/
.vision-container{
  background: url("./img/parallax-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
  
}

.vision-img-cont{
  display: flex;
  justify-content: center;
}

.vision-vid-img{
  width: 55vw;
  height: 20%;
  border-radius: 7px;
  margin-bottom: 4%;
}

/* .vision-play-img{
  position: absolute;
  width: 10vw;
  height: 10vh;
} */

/* Utlities */

.container {
    padding: 0 12vh;
    width: 100%;
}

.btn {
  padding: 14px 18px;
  border: none;
  border-radius: 30px;
}

.blue-btn{
  background-color: #0078BE;
  color: #fff;
  font-weight: bold;
}

@font-face {
  font-family: the-mix-black-font;
  src: url(./fonts/TheMixBlack-Caps.otf);
}

@font-face {
  font-family: the-mix-semi-bold-plain-font;
  src: url(./fonts/TheMixSemiBold-Plain.otf);
}

.h3-font{
  font-size: 2rem;
  font-weight: 400;
  font-family: the-mix-black-font;
}

.h5-font{
  font-size: 1.2rem;
  font-weight: 500;
  font-style: the-mix-black-font;
  padding: 10% 0;
}

.flex-align-center{
  /* display: flex; */
  /* align-items: center;
  align-content: center; */
  text-align: center;
}

.h3-margin{
  padding-top: 3%;
  padding-bottom: 3%;
}

